doctype html
html
  title Світ книг
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='/stylesheets/w3.css')
  link(rel='shortcut icon', href='/images/books/sample.png')
  style.
    body h1,h2,h3,h4,h5,h6 {
    "Montserrat", sans-serif
    }

body
    .w3-top
      .w3-bar.w3-light-grey.w3-white.w3-padding.w3-card-2(style='letter-spacing:4px;')
        a.w3-bar-item.w3-button(href='#home') Головна
        .w3-right.w3-hide-small
          a.w3-bar-item.w3-button(href='/books/') Список книг
          a.w3-bar-item.w3-button(href='#about') Інфо
    header#home.w3-display-container.w3-content.w3-wide(style='max-width:1600px; min-width:500px')
      img.w3-image(src='/images/head_img.jpg', alt='book', width='1600', height='800')
      .w3-display-bottomright.w3-padding-large.w3-opacity
        p.w3-xlarge "Хороша книга - просто свято." О.О. Блок
    .w3-content(style='max-width:1100px')
      #about.w3-row.w3-padding-64
        .w3-col.m2
        .w3-col.m4.w3-padding-large.w3-hide-small
          img.w3-round.w3-image.w3-opacity-min(src='/images/stack.jpg', alt='Table Setting', width='300px')
        .w3-col.m6.w3-padding-large
          h1.w3-center Художня література
          br
          p.w3-large
            | Сайт дозволить вам зануритися у дивний всесвіт художньої літератури: у всесвіт, в якому можливо все,
            | починаючи від зіткнень з жахливими істотами пекла і закінчуючи мандрами у часі.
            | Читання художньої літератури є не тільки веселою розвагою, але й корисною, для духовного розвитку особистості, активністю.
            | Переймаючи досвід творця-письменника, який доносить до нас певні ідеї через взаємодію персонажів книги, ми вчимося мудрості, правильному прийняттю рішень і розвиваємо нашу уяву.
            | Якщо ви зацікавленні в літературі, на цьому сайті ви знайдете описи і рекомендації книг, і, ми сподівамося, не пройдете повз корисної для вас інформації.
            | Пропонуємо переглянути наш
            a(href='/books/') список книг
            | .
      hr
